<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OMDb - The Open Movie Database</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/movie.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Adding Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>

    <script src="js/app/config.endpoint.js"></script>
    <script src="js/app/app.rest.js"></script>
    <script src="js/app/app.search.js"></script>
  </head>

  <body id="page-top" class="index" ng-app="OmdbApp">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#page-top">OMDB</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <!-- <li class="page-scroll">
                <a href="#portfolio">Portfolio</a>
            </li> -->
            <li class="page-scroll">
              <a href="#about">About</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div ng-controller="OmdbSearchCtrl">
      <!-- Header -->
      <header>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
              <div class="intro-text">
                <!-- == SEARCH BAR == -->
                <span class="name">Find your movie</span>
                <br/>
                <form class="form-inline">
                  <div class="form-group"> 
                    <input id="email_id" type="text" class="form-control" ng-model="name" placeholder="Search movie or tv show title...">
                  </div>

                  <div class="form-group"> 
                    <button ng-click="searchFilm()" class="btn btn-primary">Go</button>
                  </div>		
                </form>
                <br/>
                <hr class="star-light">
                <span class="skills">"Toto, I've got a feeling we're not in Kansas anymore."</span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Movie Search Results -->
      <section id="movie-results">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>Results</h2>
              <hr class="star-primary">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <table class="table">
                <thead>
                  <tr>
                    <th>Poster</th>
                    <th>Title</th>
                    <th>Year of Release</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in searchResult">
                    <td><img src="{{item.Poster}}"
                             class="img-responsive"
                             alt=""
                             title=""
                             style="width: 100px; height: 150px;"></a></td>
                    <td><a href="#movie-detail" ng-click="getFilmDetail(item.imdbID)">{{item.Title}}</a></td>
                    <td>{{item.Year}}</td>
                    <td>
                      <i class="fa fa-repeat" ng-show="item.Type === 'series'"></i>
                      <i class="fa fa-blackboard" ng-show="item.Type === 'episode'"></i>
                      <i class="fa fa-play" ng-show="item.Type === 'game'"></i>
                      <i class="fa fa-film" ng-show="item.Type === 'movie'"></i> {{item.Type}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <a href="#movie-results" class="btn btn-lg" ng-disabled="currentPage == 1" ng-click="prevPage()">
                <i class="fa fa-backward"></i> Previous
              </a>
              Page {{currentPage}} of {{numberOfPages()}}
              <a href="#movie-results" class="btn btn-lg" ng-disabled="currentPage >= numberOfPages() - 1" ng-click="nextPage()">
                <i class="fa fa-forward"></i> Next
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- Movie Detail Grid Section -->
      <section class="success" id="movie-detail">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2>{{searchDetail.Title}}</h2>
              <br/>
              <h4>{{searchDetail.Plot}}</h4>
              <hr class="star-light">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <h5>IMDB Rating:</h5>
              <h5>{{searchDetail.imdbRating}} / 10</h5>
              <hr class="star-light">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 portfolio-item"
                 ng-repeat="(key, value) in searchDetail"
                 ng-if="['Title', 'Plot', 'Poster', 'imdbID', 'Response', 'imdbRating'].indexOf(key) === -1">
              <dl>
                <dt>{{key}}</dt>
                <dd>{{value}}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <hr class="star-light">
              <img ng-attr-src="{{searchDetail.Poster}}"/>
            </div>
          </div>
        </div>
      </section>
    </div> <!-- End of OmdbSearchCtrl -->

    <!-- About Section -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>About</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <p>The OMDb API is a free web service to obtain movie information, all content and images on the site are contributed and maintained by our users.</p>
          </div>
          <div class="col-lg-4">
            <p>Feel free to search our database and have fun!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Location</h3>
              <p>3481 Melrose Place
                <br>Beverly Hills, CA 90210</p>
            </div>
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                </li>
                <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>About OMDB</h3>
              <p>OMDB is a free to use, movie data lookup backed by <a href="http://www.omdbapi.com/">OMDB API</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; OMDB 2016
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
      <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/movie.min.js"></script>

  </body>

</html>
